/***********************************************************
 Common Elements
************************************************************/


/***********************************************************
 Page: List of Animals
************************************************************/
a{
	color: #f2821f;
}

.list-table {}

.list-item {
	width: auto;
	text-align: center;
	vertical-align: top;	
}

.list-animal-photo-block {

}



.list-animal-photo {
    -moz-border-radius: 15px;
	border-radius: 10px;
	border-color: #f2821f;
	border: 3px solid;
	padding: 3px;
    height: 100px
}

.list-animal-info-block 
{
	display: table;
	width: 130px;	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
}

.list-animal-id {
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 70%;
	line-height: 125%;
	color: #666666;
}

.list-animal-name {
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
	font-weight: bold;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.list-animal-name a{
	color: #785bba;
}

.list-animal-sexSN, .list-animal-breed, .list-animal-age, .list-animal-detail, .list-animal-breed, .list-animal-foundype
{
	margin-top: 3px;
	margin-bottom: 3px;
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 70%;	
	color: #666666;
}

.notfound{
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	padding-left: 30px;
}

/***********************************************************
 Page: Animal Details
************************************************************/

.detail-body {
	font-family:  Verdana, Helvetica, Arial, sans-serif;
}

.detail-link {
	font-size: 80%;
}

.detail-photo-links {
	font-size: 80%;
}
	
.detail-table {
    border-style: solid;
    border-color: #BBBBBB;
    border-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 70%;
	margin-bottom: 6px;
	margin-left: 3px;
	margin-right: 0px;
	margin-top: 0px;    
}

.detail-label {
	height: 18px;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: #BBBBBB;
    padding-right: 3px;
    padding-left: 8px;
    white-space: nowrap;
}

.detail-value {	
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;    
    border-color: #BBBBBB;
    padding-right: 8px;
    padding-left: 3px;
    white-space: nowrap;
}

.detail-value-checkbox 
{
	font-family: Consolas, Courier;
	
}

.detail-animal-name {
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #666666;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom:3px; 
	margin-left:3px
}

.detail-animal-photo {
	border-width: 0;
}

.detail-animal-desc {
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 70%;
	line-height: 150%;
	margin-bottom: 8px;
}

.detSize 
{
    visibility:hidden;
    height: 0px;
}
